useDynLib(RHRV)

# Export all names
#exportPattern(".")

export("AddEpisodes", "AnalyzeHRbyEpisodes", "AvgIntegralCorrelation", "BuildNIHR", "BuildTakensVector", "CalculateApEn", "CalculateFracDim", "CalculatePowerBand", "CalculateRfromCorrelation", "CalculateSpectrogram", "CreateFreqAnalysis", "CreateHRVData", "CreateNonLinearAnalysis", "CreateTimeAnalysis", "EditNIHR", "FilterNIHR", "GenerateEpisodes", "IntegralCorrelation", "InterpolateNIHR", "LoadApneaWFDB", "LoadBeatAscii", "LoadBeatEDFPlus", "LoadBeatPolar", "LoadBeat", "LoadBeatRR", "LoadBeatSuunto", "LoadBeatWFDB", "LoadEpisodesAscii", "LoadHeaderWFDB", "PlotHR", "PlotNIHR", "PlotPowerBand", "PlotSpectrogram", "ReadFromFile", "SetVerbose", "SplitHRbyEpisodes", "SplitPowerBandByEpisodes", "WriteToFile"
)

# Import all packages listed as Imports or Depends
import(
  tcltk,
  tkrplot,
  waveslim
)
